@import url("./reset.css");
@import url("./design-system/color-system.css");
@import url("./design-system/font-system.css");

@import url("./component/button/button.css");
@import url("./component/particle/particle.css");
@import url("./component/nav/nav.css");
@import url("./component/scrollbar/scrollbar.css");

@import url("./page/home.css");
@import url("./page/about.css");
@import url("./page/competencies.css");
@import url("./page/portfolio.css");