.user-survey-title-zone {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .btn.style-02 {
        margin-bottom: 12px;
    }
}

.chart-box-main.basic-feature {
    height: 320px;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-25px);
}

.questions-form {
    display: none;
    pointer-events: none;
    opacity: 0;

    &.active {
        display: block;
        pointer-events: all;
        opacity: 1;
    }

    .question.list-container {
        .item-box {
            margin-top: 1.75rem;
            //border-bottom: 1px solid var(--color-text-secondary);

            .card {
                padding: 1rem;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        .list-container.sub-list {
            padding-top: 1rem;
            padding-right: 1rem;
            gap: 1.75rem;
            border: 1px solid rgba(0, 140, 255, .5);
        }

        .question-item {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding-bottom: 1rem;

            &.bottom-dash-line {
                border-bottom: 1px solid rgba(0, 140, 255, .5);

            }


            .question-header {
                display: grid;
                grid-template-columns: 40px 1fr;
                gap: 4px;
            }

            .option.radio-box {
                padding-left: 44px;

                &:has(.other-textarea) {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    grid-template-rows: auto 1fr;
                }

                .radio.style-1:has(.other-textarea) {
                    grid-column: 1/5;
                    grid-row: 2/3;
                    width: 100%;
                    grid-template-columns: 20px minmax(150px, 100%);
                }
            }
        }
    }
}

.block-outline {
    padding: .75rem .75rem .75rem .75rem;
    width: calc(100% - .5rem);
    height: fit-content;
    outline: 1px solid rgba(0, 140, 255, .5);
    outline-offset: -2px;
}

.survey-result {
    display: none;
    width: 100%;
    pointer-events: none;
    opacity: 0;

    &.active {
        display: block;
        pointer-events: all;
        height: fit-content;
        opacity: 1;
    }

    .chart-title-box {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        justify-self: start;
        position: relative;
        height: fit-content;
        margin-left: 0rem;

        &::before {
            content: "●";
            position: absolute;
            top: .125rem;
            left: -1.25rem;
            font-size: 12px;

        }

        .chart-title {
            font-weight: var(--fw-semibold);
        }

        &.outline {
            padding: 1rem;
            max-width: 492px;
            width: 100%;
        }

        .chart-subtitle {
            font-size: var(--fs-small);
            //transform: skewX(-16deg);
        }
    }

    .wrapper {
        max-width: 600px;
        width: 100%;
        height: fit-content;
    }

    .chart-container {
        width: 100%;
        height: fit-content;
    }

    .shared-layout {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        height: fit-content;

        &.product-settings {
            padding-top: 3rem;

            .block-outline {
                background: transparent;
                padding: 1rem;
            }

            .top,
            .bottom {
                padding: 1.25rem;
                flex-direction: column;
                gap: 2.5rem;

                .wrapper {
                    grid-template-columns: minmax(360px, auto) minmax(160px, auto);
                    padding-bottom: 2rem;



                    &.product-settings-chart {}
                }

                .chart-box {
                    width: 100%;
                    height: 360px;
                    margin-top: 2rem;
                }

                .data-list .data-item {
                    width: 200px;

                    .item-header {
                        display: inline-block;
                        position: relative;
                        margin-left: 1rem;

                        &::before {
                            content: "■";
                            position: absolute;
                            top: .065rem;
                            left: -1.2rem;
                            font-size: 16px;
                        }

                        &.red::before {
                            color: #953030;
                        }

                        &.pink::before {
                            color: #e07070;
                        }
                    }

                    .item-content .small-text {
                        margin-right: 2px;
                    }

                    small {
                        font-size: 13.3px;
                        letter-spacing: 3%;
                    }
                }
            }

            .bottom {
                .wrapper {


                    .product-settings-chart.chart-container {}
                }
            }

            .wrapper {
                max-width: 100%;
            }

        }

        .top {
            width: 100%;
            height: fit-content;

            display: flex;
            justify-content: center;

            .wrapper {

                display: grid;
                grid-template-columns: minmax(360px, auto) minmax(160px, auto);
                grid-template-rows: 1fr;
                gap: 1rem;
                border-bottom: 1px dashed rgba(0, 140, 255, .5);
            }

            .response-rate.chart-container {
                display: flex;

                flex-direction: column;
                gap: 0;
                justify-content: center;
                align-items: start;

                .chart-box {
                    height: 360px;
                    width: 100%;
                    transform: translateX(0%);
                }
            }


        }

        .bottom {
            //border-bottom: 1px solid rgba(0, 140, 255, 1);
            padding: 1rem 0 1rem 0;
            display: flex;
            width: 100%;
            justify-content: center;

            .wrapper {
                display: grid;
                gap: 1rem;

                .demographic-distribution.chart-container {
                    height: 360px;
                    //overflow-y: hidden;

                    .chart-box {
                        margin-top: -165px;
                        margin-left: -20px;
                        width: 100%;
                        height: 560px;
                    }
                }
            }
        }

        .data-list {

            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: fit-content;
            padding-top: 2.5rem;

            .data-item {
                width: 180px;
                display: flex;
                gap: 0;
                flex-direction: column;
                border: 1px solid rgba(0, 140, 255, .5);
                padding: 1rem 1rem .25rem 1rem;
                margin-bottom: 0;

                &:has(.notice-text) {
                    border: 0px solid transparent;
                    padding: 0;
                }

                .item-header {
                    display: flex;
                    gap: .5rem;
                }

                .item-content {
                    display: flex;
                    gap: 1.5rem;
                    align-items: first baseline;
                    align-self: end;
                    position: relative;

                    .value {
                        font-size: clamp(2rem, 6.5vw, 3rem);
                        ;
                        font-weight: var(--fw-semibold);
                    }
                }

                .notice-text {
                    font-size: 13.3px;
                }
            }
        }
    }

    .basic-features {
        padding: 3rem 0 0rem 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: fit-content;
        width: 100%;

        .block-outline {
            background: rgba(10, 67, 121, 0.3);
        }

        .chart-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0rem;

            &:has(.filter-chart, .sidebar-chart) {
                height: 480px;
            }

            &:has(.RWD-chart) {
                height: 240px;
            }

            .chart-box {
                width: 100%;
                height: 100%;

                &.filter-chart {
                    border-bottom: 1px dashed rgba(0, 140, 255, .5);
                    padding-bottom: 1rem;
                }

                &.filter-chart,
                &.sidebar-chart,
                &.RWD-chart {
                    margin-top: -2.8rem;
                }
            }
        }

        .filter-sidebar-zone,
        .result-RWD-zone {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            .wrapper {
                max-width: 680px;
                height: fit-content;
                display: grid;
                gap: 2.5rem;
                justify-items: center;



                .chart-title.sidebar {
                    margin-top: 2rem;
                }

                .result.list-container.filter-sidebar-result {

                    padding-bottom: 2rem;

                }
            }
        }

        .filter-sidebar-zone {
            padding-top: 1rem;
            border-bottom: 1px solid rgba(0, 140, 255, .5);
        }

        .result-RWD-zone {
            padding-top: 2rem;
        }
    }
}

.survey-result .basic-features .chart-container .chart-title,
.survey-result .product-settings .chart-container .chart-title {
    margin-left: 1.25rem;
}

.left-side.chart-form {
    height: fit-content;
    min-height: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    .chart-box-main {
        width: 100%;
    }

    .data-zone.demographic {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .data-container {
            display: flex;
            align-items: center;
            gap: .25rem;

            .data-value {
                font-size: var(--fs-small);
            }
        }
    }
}

.list-container.product-setting-survey-chart {
    margin-top: 40px;

    .item-box.product-setting-survey-chart-item {
        display: flex;
        flex-direction: column;

        .user-survey-title-zone {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .neon-subtitle {
                margin-top: 0;
            }
        }

        .chart-container {
            height: fit-content;
            width: 90%;
            padding: 1.5rem 0;
            margin-left: auto;
            margin-right: auto;

            .chart-box {
                height: 320px;
                margin-left: -1rem;
            }
        }
    }

}

.ul-title-zone {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: flex-start;
}

.product-setting-survey-chart {
    .product-setting {
        margin-top: 2.5rem;

        .chart-box {
            margin-top: 1rem;
        }


        .list-container.product-settings-chart-list {
            position: relative;
            padding-top: 0;
            margin-top: -1rem;

            .item-box:nth-of-type(1) {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 0rem;
                right: 3rem;
                top: -80px;

                .dot {
                    margin-top: 0;
                    font-size: 18px;
                }

            }

            .item-box:nth-of-type(1) .item-content {
                display: flex;
                flex-direction: row;
                gap: 4px;

                &:nth-of-type(1) .dot {
                    color: #953030;
                }

                &:nth-of-type(2) .dot {
                    color: #e07070;
                }
            }

        }
    }
}

@media screen and (max-width: 1200px) {
    .user-survey-title-zone {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
}

@media screen and (max-width: 992px) {
    .survey-result .chart-title-box {
        margin-left: 1.25rem;
    }

    .survey-result .shared-layout.product-settings .top .wrapper,
    .survey-result .shared-layout.product-settings .bottom .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        padding-bottom: 2rem;
    }

    .survey-result .shared-layout.product-settings .data-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        padding-top: 0;
    }

    .survey-result .shared-layout.product-settings .top .data-list .data-item,
    .survey-result .shared-layout.product-settings .bottom .data-list .data-item {
        width: 100%;
    }

    .survey-result .shared-layout.product-settings .top .chart-box {
        margin-top: 0;
    }

    .survey-result .shared-layout.product-settings .top .data-list .data-item:last-of-type,
    .survey-result .shared-layout.product-settings .bottom .data-list .data-item:last-of-type {
        grid-column: 1 / 3;
    }
}


@media screen and (max-width: 991px) {
    .user-survey-title-zone {
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
    }

    .questions-form .question.list-container .question-item .option.radio-box:has(.other-textarea) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .questions-form .question.list-container .question-item .option.radio-box .radio.style-1:has(.other-textarea) {
        grid-column: initial;
        grid-row: initial;
    }


}

@media screen and (max-width: 767px) {


    .survey-result .shared-layout .top .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .survey-result .shared-layout .top .data-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 1rem;
        width: 100%;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .survey-result .shared-layout .top .data-list .data-item {
        width: 100%;
        padding: 1rem 1rem .8rem 1rem;
    }

    .survey-result .shared-layout .top .data-list .data-item .item-content .value {
        font-size: 40px;
    }

    .survey-result .shared-layout .top .data-list .data-item .item-content {
        align-self: center;
        margin-left: 16px;
    }

    .survey-result .shared-layout .top .data-list .data-item .item-content {
        gap: 12px;
    }

    .survey-result .shared-layout .top .data-list .data-item:has(.notice-text) {
        grid-column: 1 / 3;
    }

    .survey-result .shared-layout .bottom .wrapper .demographic-distribution.chart-container {
        height: 300px;
    }

    .survey-result .shared-layout .bottom .wrapper .demographic-distribution.chart-container .chart-box {
        margin-top: -125px;
        margin-left: -20px;
        width: 100%;
        height: 460px;
    }

    .list-container.product-setting-survey-chart .item-box.product-setting-survey-chart-item .chart-container .chart-box {
        margin-left: 0;
    }

    .product-layout .list-container .item-box .list-container {
        padding-top: 0;
        margin-top: -1rem;
    }
}

@media screen and (max-width: 600px) {
    .block-outline {
        padding: .75rem .75rem 0 .75rem;
        width: calc(100% - .125rem);
        height: fit-content;
        outline: 1px solid rgba(0, 140, 255, .5);
        outline-offset: -1px;
    }

    .survey-result .shared-layout .bottom .wrapper .demographic-distribution.chart-container {
        height: 270px;
    }


    .survey-result .shared-layout .bottom .wrapper .demographic-distribution.chart-container .chart-box {
        margin-top: -50px;
        margin-left: -20px;
        width: 100%;
        height: 300px;
    }

    .list-container.product-setting-survey-chart .item-box.product-setting-survey-chart-item .chart-container {
        width: 100%;
        padding-bottom: 0;
    }

    .list-container.product-setting-survey-chart .item-box.product-setting-survey-chart-item .chart-container .chart-box {
        height: 380px;
    }

    .product-setting .list-container.product-settings-chart-list .item-box:nth-of-type(1) {
        right: 0;
    }
}


@media screen and (max-width: 480px) {
    .survey-result .shared-layout .bottom .wrapper .demographic-distribution.chart-container {
        height: fit-content;
    }

    .survey-result .shared-layout .bottom .wrapper .demographic-distribution.chart-container .chart-box {
        margin-top: -30px;
        margin-left: 0;
        width: 100%;
        height: 280px;
    }
}